*.tfrecords
ablation_trains
ablation_trains/*
end_to_end
end_to_end/*
*.h5
*.npy
*.pickle
*.save
log_v1*
*.zip
*.pyc
*.bin
.ipynb_checkpoints
__pycache__/*
__pycache__
bmw_data/tfrecords.zip
search_tracking.sh
frustum_tests
frustum_tests/*
Untitled.ipynb
*.png
urban-master
urban-master/*
visualization_of_frustum/bmw_data
visualization_of_frustum/bmw_data/*
